<!doctype html>
<html lang="en">

<head>
    <title>MoviAK</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <!-- LOGIN -->
    <div class="login">
        <div class="login_content container">
            <p class="text-white">
                <i class="fa fa-apple ml-2" aria-hidden="true"></i>
                <i>VIP SWEEPSTAKES</i>
            </p>
            <span class="login_content_slogan ">
                <span style="color: #fe7900;" class="ml-2 font-weight-bold">$5000 SHOPPING SPREE</span>
                <span style="color: #8b8b8b;"> Join Movies VIP for a chance to win. Don't forget to join during
                    checkout</span>
            </span>
            <span class="login_content_user" style="color: #8b8b8b;">
                <i class="fa fa-user"></i> Login
            </span>
        </div>
    </div>
    <!-- END LOGIN -->

    <!-- NAVBAR -->
    <header class="header mt-2">
        <nav class="container header__navbar navbar navbar-expand-lg py-0 navbar-light">

            <a class="navbar-brand py-0" href="#">
                <img src="./img/img_66.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto border-bottom">
                    <li class="nav-item active">
                        <a class="nav-link px-4" href="#">TRANG CHỦ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="#">PHIM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="#">TIN TỨC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-4" href="#">LỊCH CHIẾU</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
    </header>
    <!-- END NAVBAR -->

    <!--CAROUSEL-->
    <section class="my-carousel mt-2">
        <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel">
            <ol class="carousel-indicators justify-content-start">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" style="height: 550px !important;">
                <div class="carousel-item active carousel-item--1">
                    <img class="d-block w-100" src="./img/khun-15736347918272.jpg" alt="First slide"
                        style="height: 550px;">
                    <div class="carouse-item__overlay"></div>

                </div>
                <div class="carousel-item carousel-item--2">
                    <img class="d-block w-100" src="./img/charlie-s-15737864768917.jpg" alt="Second slide"
                        style="height: 550px;">
                </div>
                <div class="carousel-item carousel-item--3">
                    <img class="d-block w-100" src="./img/doctor-sleep-15743911395062.jpg" alt="Third slide"
                        style="height: 550px;">

                </div>
            </div>
        </div>
    </section>
    <!-- END CAROUSEL -->

    <!-- CONTROLBAR -->
    <section class="controlbar container">
        <nav class="navbar navbar-expand-lg navbar-light controlbar_content" style="background-color: whitesmoke; height: 80px;">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Phim 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Rạp 
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ngày xem
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Xuất chiếu
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    
                </ul>
                <button class="btn btn-secondary ml-4">MUA VÉ NGAY</button>
            </div>
        </nav>

    </section>


    <!-- SHOWTIME -->
    <section class="showtime">
        <div class="container">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" style="color: #fe7900;" data-toggle="tab" href="#dangchieu">ĐANG CHIẾU</a>
                    <a class="nav-item nav-link " style="color: #fe7900;" data-toggle="tab" href="#sapchieu">SẮP CHIẾU</a>
                </div>
            </nav>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="dangchieu">
                    <div class="row  py-5 showtime__movie">
                        <div class="col-md-3 col-lg-3 mb-3 movie__item">
                            <img src="./img/anh-trai-yeu-quai-dear-devil-brother-c13-15723265880488_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Anh trai yêu quái- Dear Devil Brother (C13)</h5>
                            <span class="text-secondary">107 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/nu-hoang-bang-gia-2-frozen-2-15737068618020_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Nữ hoàng băng giá 2- Frozen 11</h5>
                            <span class="text-secondary">103 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/nhung-thien-than-cua-charlie-charlie-s-angels-15668240510626_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Những thiên thần của Charlie</h5>
                            <span class="text-secondary">118 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/hoa-hau-giang-ho-15718919865339_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Hoa hậu giang hồ-Miss Gangter</h5>
                            <span class="text-secondary">92 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/ke-dam-len-knives-out-c13-15734466941223_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Kẻ đăm lén- Knives out</h5>
                            <span class="text-secondary">135 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/doctor-sleep-ky-uc-kinh-hoang-c18-15730932611427_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Doctor Sleep: Ký ức kinh hoàng</h5>
                            <span class="text-secondary">151 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/phap-su-mu-ai-chet-gio-tay-blind-shaman-c18-15725111042745_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Pháp sư mù: Ai chết dơ tay</h5>
                            <span class="text-secondary">120 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-lg-3 movie__item">
                            <img src="./img/ngoc-oi-tuoi-17-15731184068808_215x318.jpg" class="img-fluid">
                            <div class=" movie__overlay"></div>
                            <h5>Ngốc ơi tuổi 17 -Silly 17</h5>
                            <span class="text-secondary">90 phút</span>
                            <div class="movie__detail w-100 text-center text-white">
                                <i class="fa fa-play d-block mx-auto video-play mb-3 venobox  vbox-item" href="https://youtu.be/aOXvyd9v1cg" data-vbtype="video"></i>
                                <a class="d-block text-white mb-2">READ MORE</a>
                                <span>Released: 7 Mar, 2017</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="sapchieu">
                    <div class="row  py-5 showtime__movie">
                        <div class="col-md-3 col-lg-3 mb-3">
                            <img src="./img/21-cay-cau-21-bridges-15731184904702_215x318.jpg" class="img-fluid">
                            <h5>Anh trai yêu quái- Dear Devil Brother (C13)</h5>
                            <span class="text-secondary">107 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/clara-va-khu-rung-ky-bi-15747570115699_215x318.jpg" class="img-fluid">
                            <h5>Nữ hoàng băng giá 2- Frozen 11</h5>
                            <span class="text-secondary">103 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/cong-chua-nho-cua-ba-a-little-princess-15742338372591_215x318.jpg" class="img-fluid">
                            <h5>Những thiên thần của Charlie</h5>
                            <span class="text-secondary">118 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/cuoc-dua-lich-su-ford-v-ferrari-15729246407428_215x318.jpg" class="img-fluid">
                            <h5>Hoa hậu giang hồ-Miss Gangter</h5>
                            <span class="text-secondary">92 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/elcano-va-magellan-hanh-trinh-bon-be-15742333915931_215x318.jpg " class="img-fluid">
                            <h5>Kẻ đăm lén- Knives out</h5>
                            <span class="text-secondary">135 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/danur-i-can-see-ghosts-15712868227780_215x318.jpg" class="img-fluid">
                            <h5>Doctor Sleep: Ký ức kinh hoàng</h5>
                            <span class="text-secondary">151 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/giang-sinh-nam-ay-last-christmas-c13-15718054490893_215x318.jpg" class="img-fluid">
                            <h5>Pháp sư mù: Ai chết dơ tay</h5>
                            <span class="text-secondary">120 phút</span>
                        </div>
                        <div class="col-md-3 col-lg-3">
                            <img src="./img/ong-ban-gang-to-man-of-men-15743975891081_215x318.jpg" class="img-fluid">
                            <h5>Ngốc ơi tuổi 17 -Silly 17</h5>
                            <span class="text-secondary">90 phút</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- END SHOWTIME -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>